@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Poppins:wght@300;400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  scroll-padding-top: 100px;
  scrollbar-color: green;
  scroll-behavior: smooth;
  background-color: #132A2E;
}
body {
  height: 100%;
}

body {
  position: relative;
  min-height: 100vh !important;
  margin: 0;
  font-family: -apple-system, 'Poppins', BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::-webkit-scrollbar {
  width: 10px;
}

.swiper-wrapper {
  display: flex;
  position: relative;
  z-index: 1;
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  transition-property: transform;
  transition-timing-function: ease-out;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #34d399; /* Hijau tua */
  border-radius: 9999px; /* Supaya rounded */
  border: 2px solid transparent;
  background-clip: content-box;
}

#__next-build-watcher {
  pointer-events: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
  display: none !important;
}

/* globals.css */
@keyframes rgb-glow {
  0% {
    border-color: #ff0000;
    box-shadow: 0 0 8px #ff0000;
  }
  25% {
    border-color: #00ff00;
    box-shadow: 0 0 8px #00ff00;
  }
  50% {
    border-color: #0000ff;
    box-shadow: 0 0 8px #0000ff;
  }
  75% {
    border-color: #ff00ff;
    box-shadow: 0 0 8px #ff00ff;
  }
  100% {
    border-color: #ff0000;
    box-shadow: 0 0 8px #ff0000;
  }
}

.rgb-hover-effect:hover {
  animation: rgb-glow 3s linear infinite;
}
